services:
  db:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: boyd
      POSTGRES_PASSWORD: boyd
      POSTGRES_DB: boyd
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
